name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install Node dependencies
        run: pnpm install

      - name: Generate Release Notes
        run: pnpm exec tsx scripts/release.ts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: release-notes.md
